<!doctype html>
<html lang="en">
    <head>
        <title>Room service by Jziebinski</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">room service - control your room</h1>
            <h2 class="text-center">About project:</h2>
            <p class="lead">
                The heart of this project would be raspberry pi 4b -> it would collect data by MQTT communication
                protocol from the nodemcu's, which would be placed in the whole house.
                It will be possible to control devices in room by this site.
            </p>
            <div class="text-center">
                <button type="button" class="btn btn-primary">Show me temperature !</button>
            </div>
        </div>
    </body>
</html>
