<!DOCTYPE html>
<html>
    <head>
        <title>Room service by Jziebinski</title>
        <style>
            h1 {
                font-size: 40px;
                font-family: Roboto;
                text-align: center;
            }

            p {
                font-size: 17px;
                font-family: Roboto;
            }

            #container {
                max-width: 1200px;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <h1>room service - control your room</h1>
            <h2>About project:</h2>
            <p>
                The heart of this project would be raspberry pi 4b -> it would collect data by MQTT communication
                protocol from the nodemcu's, which would be placed in the whole house.
                It will be possible to control devices in room by this site.
            </p>
            <button>Show me temperature !</button>
        </div>
    </body>
</html>
